.dashboard-box {
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1.5rem;
  border-radius: 10px;
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dashboard-box h3 {
  margin-bottom: 1rem;
}

.dashboard-box button {
  padding: 0.5rem;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
}

.dashboard-box button:hover {
  background-color: #666;
}